[Desktop Entry]
Encoding=UTF-8
Categories=Application;Development;Graphics;
Type=Application
Exec=openscada_demo_ru
Icon=openscada_demo_ru
Terminal=false
Name=OpenSCADA demo (Russian)
GenericName=Demo of open SCADA system (Russian)
Comment=Demo of open supervisory control and data acquisition system
GenericName[ru]=Демонстрация открытой SCADA системы (Русский)
Comment[ru]=Демонстрация открытой системы визуального контроля и сбора данных
GenericName[uk]=Демонстрація відкритої SCADA системи (Російська)
Comment[uk]=Демонстрація відкритої системи візуального контроля та збору даних
