[Desktop Entry]
Encoding=UTF-8
Name=OpenSCADA
Categories=Application;Development;Graphics;
Type=Application
Exec=openscada_start
Icon=openscada
Terminal=false
Name=OpenSCADA
GenericName=Open SCADA system
Comment=Open supervisory control and data acquisition
GenericName[ru]=Открытая SCADA система
Comment[ru]=Открытая система визуального контроля и сбора данных
GenericName[uk]=Відкрита SCADA система
Comment[uk]=Відкрита система візуального контроля та збору даних